    #backgroundimg{
        height: 95vh;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgb(0,0,0,0.8)), url(images/netflixbackground.jpg);
        background-size: cover;
        background-position: center;
        }
    .netflixlogo{
        height: 100px;
    }
    .dropdownnav{
        width: 120px;
        background-color:black ;
        opacity: 0.7;
        color: white;

    }
    .txthead{
        font-size: 45px;
        margin-top: 170px;
    }
    .emailbox{
        width: 450px;
        height: 60px;
        background-color: black;
        opacity: 0.7;
        color: white;
        outline: 0px;
    }
    hr{
        border: 8px solid black;
        margin-top: 130px;
    }
    .txthead1{
        margin-top: 150px;
        margin-left:180px;
    }
    .txthead2{
        font-size: 22px;
        margin-left:180px;
        text-align: start;
    }
    .Tvimage{
        margin-right: 150px;
        margin-top: 10px; 
        width: 544px;

    }
    .video1st{
        position: relative; 
        bottom: 323px;
        right: 77px;
        width: 396px;    
    }
    .columnone{
        height: 500px;
    }
    .columntwo{
        height: 500px;
    }

@media only screen and (max-width: 767px)  {
    #backgroundimg{
        height: 88vh;
        padding: 0px 3%;
    }
    .netflixlogo{
        height: 70px;
        width: 100px;
    }
    .dropdownnav{
        width: 55px;
        height: 35px;
    }
    .btnnav{
    height: 35px;
    }
    .txthead{
        font-size: 35px;
        margin-top: 44px;
    }
    .emailbox{
        width: 300px;
        height: 60px;
        background: black;
        opacity: 0.5;
        outline: 0px;
        /* margin-left: 23 0px; */
    }
    .btnhomepg1{
    flex-wrap: wrap;
    }
    hr{
        margin-top: 30px;
    }
    .txthead1{
        font-size: 30px;
        margin-top: 50px;
        margin-left:75px;
    }
    .txthead2{
        margin-left:10px;
        font-size: 18px;
        text-align: center;
    }
    .Tvimage{
        margin-right: 0px; 
        width: 356px;
    }
    .video1st{
    position: relative; 
    bottom: 211px;
    right: 1px;
    width: 259px;    
    }
    .columnone{
        height: 200px;
    }
    .columntwo{
        height: 330px;
    }

}